<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-4.3.xsd 
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
	default-autowire="byName">
	
	<!-- 自动扫描bean -->
	<context:annotation-config />
	<context:component-scan base-package="com.fan" />

	<!-- dataSource配置  destroy-method="close"-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		>
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="${db.driver}"></property>
		<!-- 指定连接数据库的URL -->
		<property name="jdbcUrl" value="${db.url}"></property>
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="${db.username}"></property>
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="${db.password}"></property>
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="${db.maxPoolSize}" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="${db.minPoolSize}" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="${db.initialPoolSize}" />
		<!-- 当数据库中的连接耗尽时c3p0一次性同时获取的连接数 -->
		<property name="acquireIncrement" value="${db.acquireIncrement}" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="${db.maxIdleTime}" />
		<!--每180秒检查所有连接池中的空闲连接。Default: 0 -->
		<property name="idleConnectionTestPeriod" value="${db.idleConnectionTestPeriod}" />
		<!--获取connnection时测试是否有效。Default: false -->
		<property name="testConnectionOnCheckin" value="${db.testConnectionOnCheckin}" />
		<!--自动测试的table名称 -->
		<property name="automaticTestTable" value="${db.automaticTestTable}" />
		<!--testConnectionOnCheckout -->
		<property name="testConnectionOnCheckout" value="${db.testConnectionOnCheckout}" />
	</bean>

	 <!-- myBatis文件 --> 
	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置实体别名 -->
		<property name="typeAliasesPackage">
			<value>com.fan.models.*.model</value>
		</property>
		<!-- 配置映射文件加载 -->
		<property name="mapperLocations">
			<value>classpath*:com/fan/models/**/mapping/*.xml</value>
		</property>
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<!--使用下面的方式配置参数，一行配置一个 -->
						<value>
        				params=value1
      					</value>
					</property>
				</bean>
			</array>
		</property>
	 </bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage">
				<value>com.fan.models.*.dao</value>
			</property>
			<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	 </bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 注解方式配置事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- spring管理memcachedClient -->
	<bean name="memcachedClient"
		class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean">
		<property name="servers" value="${memcache.url}">
			<!--<value>183.56.130.59:11211</value> <value>172.16.20.51:11231,172.16.10.42:11231 
				172.16.20.52:11231,172.16.10.42:11231 172.16.20.55:11231,172.16.10.42:11231 
				172.16.10.32:11231,172.16.10.42:11231</value> -->
			<!-- <value>172.16.20.51:11231,172.16.20.52:11231,172.16.20.55:11231</value> -->
		</property>
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"></bean>
		</property>
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"></bean>
		</property>
		<property name="connectionPoolSize" value="10" />
		<property name="failureMode" value="true" />
	</bean>
	
	<!-- 支持上传文件 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="UTF-8" />
    </bean> 
	
</beans>